<footer class="footer">
  <div class="container footer-container">
    <ul class="footer-navigation">
      <li class="footer-link">
        <a class="footer-underline" href="Privacy Policy.html">Privacy policy</a>
      </li>
      <li class="footer-link">
        <a class="footer-underline" href="Terms and Conditions.html">Terms and Conditions</a>
      </li>

      <li class="footer-link">
        <a class="footer-underline" href="Cookies Policy.html">Cookies Policy</a>
      </li>
    </ul>
    <p class="footer-text">© 2025 sparkstormforce.com. All rights reserved</p>
  </div>
</footer>