<header class="header" id="site-header">
  <div class="header-container container">
    <button type="button" class="menu-button" aria-label="menu toggle">
      <span class="icon">
        <svg class="header-svg" width="48" height="48">
          <use href="/img/sprite.svg#icon-burger"></use>
        </svg>
      </span>
    </button>

    <nav class="nav ">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="links" href="index.html#Home">Home</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Game">Game Overview</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Highlights">Highlights</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Ship">Ship Arsenal</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Gallery">Gallery</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Player">Player Reviews</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#FAQ">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
  <ul class="menu-list">
    <li><a class="menu-list-item" href="index.html#Home">Home</a></li>
    <li><a class="menu-list-item" href="index.html#Game">Game Overview</a></li>
    <li>
      <a class="menu-list-item" href="index.html#Highlights">Highlights</a>
    </li>
    <li><a class="menu-list-item" href="index.html#Ship">Ship Arsenal</a></li>
    <li><a class="menu-list-item" href="index.html#Gallery">Gallery</a></li>
    <li><a class="menu-list-item" href="index.html#Player">Player Reviews</a></li>
    <li><a class="menu-list-item" href="index.html#FAQ">FAQ</a></li>
  </ul>
</div>