<!-- Hero -->
 <section class="hero-section">
    <div class="container">
        <h1 class="visually-hidden">Star Force</h1>
        <picture>
            <source srcset="
            /img/hero/hero-logo-desk.png  1x,
                    /img/hero/hero-logo-desk@2x.png 2x
                                 " media="(min-width: 1439px)" />
            <source srcset="
            /img/hero/hero-logo-mob.png 1x,
                    /img/hero/hero-logo-mob@2x.png 2x
                                 " media="(max-width: 1438px)" />
            <img class="hero-logo" src="/img/hero/hero-logo-mob.png" alt="Logo" loading="lazy" />
        </picture>
        <p class="hero-text">Take control of powerful starships and lead your fleet into interstellar battles</p>
    </div>
 </section>
 <!-- Game Overview -->
  <section class="game-section">
    <div class="container">
        <h2 class="game-title">Game Overview</h2>
        <p class="game-text"><span class="span-weight">Star Force</span>  is an explosive top-down space shooter that puts you in command of humanity’s last hope. Pilot high-tech
        ships across dangerous galaxies, where skill and reflexes are your best weapons.<br/>
        With dozens of upgradeable spacecraft, bullet-hell levels, and massive boss battles, the game delivers thrilling
        arcade-style action.<br/>
        Dodge meteors, survive laser storms, and destroy enemy fleets — every moment is packed with heart-pounding excitement!</p>
        <div class="game-wrapper">
            <img class="game-img" src="/img/game/desk-one.png"
                srcset="/img/game/desk-one.png 1x, /img/game/desk-one@2x.png 2x" alt="Star Force" loading="lazy" />
                <img class="game-img" src="/img/game/desk-two.png" srcset="/img/game/desk-two.png 1x, /img/game/desk-two@2x.png 2x"
                    alt="Star Force" loading="lazy" />
        </div>
    </div>
  </section>
  <!-- Highlights -->
   <article class="highlights-section">
    <div class="container">
        <h2 class="highlights-title">Highlights</h2>
        <div class="highlights-wrapper">
            <img class="highlights-img" src="/img/highlights/img-one.png" srcset="/img/highlights/img-one.png 1x, /img/highlights/img-one@2x.png 2x"
                alt="Star Force" loading="lazy" />
            <img class="highlights-img" src="/img/highlights/img-two.png" srcset="/img/highlights/img-one.png 1x, /img/highlights/img-two@2x.png 2x"
                alt="Star Force" loading="lazy" />
        </div>
        <ul class="highlights-list">
            <li class="highlights-item"><p><span class="span-highlights"> Master the Shadows –</span> Use stealth techniques to evade detection and strike at the right<br/>
            moment.
                </p> </li>
            <li class="highlights-item"><p><span class="span-highlights">Dozens of Starships –</span>  Unlock and pilot a wide variety of ships, each equipped with distinct weapons and futuristic tech.</p> </li>
    <li class="highlights-item"><p><span class="span-highlights">Space Campaign – </span> Embark on an epic journey across hostile planets, asteroid fields, and fortified alien zones.</p> </li>           
            <li class="highlights-item"><p><span class="span-highlights">Classic Arcade Action –</span> Fast-paced vertical shooter with modern polish</p> </li>
            <li class="highlights-item"><p><span class="span-highlights">Boss Battles –</span>  Face off against massive enemies featuring dynamic, screen-filling attack patterns and intense visuals.</p> </li>
         <li class="highlights-item"><p><span class="span-highlights">Offline Mode –</span>  Enjoy uninterrupted gameplay and galactic battles anytime, even without an internet connection.</p> </li>
        </ul>
    </div>
   </article>
   <!--      Ship Arsenal -->
<section class="ship-section">
    <div class="container">
        <h2 class="ship-title">Ship Arsenal</h2>
        <div class="swiper ship-swiper">
        <div class="swiper-wrapper ship-swiper-wrapper">
            <div class="swiper-slide ship-swiper-slide">
                <img class="ship-img" src="/img/ship/one-mob.png" srcset="/img/ship/one-mob.png 1x, /img/ship/one-mob@2x.png 2x"
                    alt="Nova-X" loading="lazy" />
            </div>
            <div class="swiper-slide ship-swiper-slide">
                <img class="ship-img" src="/img/ship/two-mob.png" srcset="/img/ship/two-mob.png 1x, /img/ship/two-mob@2x.png 2x"
                    alt="Void Ripper" loading="lazy" />
            </div>
            <div class="swiper-slide ship-swiper-slide">
                <img class="ship-img" src="/img/ship/three-mob.png" srcset="/img/ship/three-mob.png 1x, /img/ship/three-mob@2x.png 2x"
                    alt="Aegis Core" loading="lazy" />
            </div>
            <div class="swiper-slide ship-swiper-slide">
                <img class="ship-img" src="/img/ship/four-mob.png"
                    srcset="/img/ship/four-mob.png 1x, /img/ship/four-mob@2x.png 2x" alt="Starlance" loading="lazy" />
            </div>
        </div>
        </div>
    </div>
</section>