/* Hero */
.hero-section{
    background-image: url("/img/hero/back-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size:cover;
    height: 800px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.hero-logo{
    margin-bottom: 2px;
    margin-top: 60px;
}
.hero-text{
    font-family: "Orbitron", sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.5;
        text-align: center;
        color: #fff;
}
@media only screen and (min-width: 1439px) {
    .hero-section{
    background-image: url("/img/hero/back-desk.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 820px;       
    }   
.hero-logo{
    margin-left: auto;
    margin-right: auto;
}
.hero-text{
    width: 711px;
    margin-left: auto;
    margin-right: auto;
}
}
/* Game Overview */
.game-section{
    background-image: url("/img/game/back-mob.png");
    background-repeat: no-repeat;
    background-position: top 100px  center;
    background-size: contain;
}
.game-title{
    margin-bottom: 420px;
}
.game-text{
    border: 1px solid #2b7eac;
        border-radius: 20px;
        padding: 12px;
        width: 335px;
        height: 288px;
        text-align: left;
}
.span-weight{
    font-weight: 700;
}
.game-wrapper{
    display: none;
}
@media only screen and (min-width: 1439px) {
 .game-section{
    background-image: none;
 }
 .game-title{
    text-align: left;
    margin-bottom: 120px;
 }
 .game-text {
    border-radius: 20px;
        padding: 12px;
        width: 413px;
        height: 264px;
     text-align: left;
 }
 .game-wrapper{
    display: flex;
    gap: 20px;
    margin-left: 440px;
    margin-top: -330px;
 }
}
/*  Highlights */
.highlights-section{
    background-image: url("/img/highlights/back-mob.png");
    background-repeat: no-repeat;
        background-position: top 110px center;
        background-size: contain;
}
.highlights-wrapper{
    display: none;
}
.highlights-title{
    margin-bottom: 200px;
}
.highlights-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.highlights-item{
    border: 1px solid #2b7eac;
        border-radius: 20px;
        padding: 14px 18px;
        width: 335px;
        height: 101px;
     }
.span-highlights{
    font-weight:700;
    color: #2b7eac;
}
@media only screen and (min-width: 1439px) {
    .highlights-section {
        background-image: none;
    }
    .highlights-wrapper{
        display: flex;
        align-items: start;
        gap: 167px;
        margin-top: -180px;
        margin-bottom: 20px;
    }
.highlights-title{
    text-align: left;
}
.highlights-list{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.highlights-item{
    display: flex;
   align-items: center;
    width: 413px;
        height: 101px;
        padding: 14px 12px;
}
}
/*      Ship Arsenal */
.ship-title{
    margin-bottom: 28px;
}
@media only screen and (min-width: 1439px) {
    .ship-title{
        text-align: left;
        margin-bottom: 36px;
    }  
.ship-swiper-wrapper{
    display: flex;
    gap: 20px;
}
.ship-swiper-slide{
    max-width: 305px;
        height: 270px;
}
}